[config]
default_to_workspace = false
init_task = "generate-fonts"
skip_core_tasks = true

[tasks.install-tools]
command = "npm"
args = ["install"]

[tasks.generate-fonts]
toolchain = "stable"
command = "cargo"
args = ["run", "--package", "fonts_generator"]

[tasks.format-rust]
install_crate = "rustfmt"
toolchain = "stable"
command = "cargo"
args = ["fmt", "--all", "${@}"]

[tasks.format-toml]
install_crate = "taplo-cli"
command = "taplo"
args = ["format", "${@}"]

[tasks.format-json]
command = "npx"
args = ["prettier", "--write", "**/*.json", "${@}"]

[tasks.format]
dependencies = ["format-rust", "format-toml", "format-json"]

[tasks.check-host]
toolchain = "stable"
command = "cargo"
args = [
  "check",
  "--target",
  "x86_64-unknown-linux-gnu",
  "--features",
  "host,abi_definitions,graphics_rendering_xrgb8888",
]

[tasks.check-guest]
toolchain = "stable"
command = "cargo"
args = [
  "check",
  "--target",
  "wasm32-unknown-unknown",
  "--package",
  "wasm",
  "--features",
  "default_guest",
]

[tasks.doc-host]
toolchain = "stable"
command = "cargo"
args = [
  "doc",
  "--features",
  "host,abi_definitions,graphics_rendering_xrgb8888",
  "--target",
  "x86_64-unknown-linux-gnu",
]

[tasks.doc-guest]
toolchain = "stable"
command = "cargo"
args = [
  "doc",
  "--package",
  "wasm",
  "--features",
  "default_guest",
  "--target",
  "wasm32-unknown-unknown",
]

[tasks.doc]
dependencies = ["doc-host", "doc-guest"]

[tasks.check]
dependencies = ["check-host", "check-guest"]

[tasks.clippy-host]
install_crate = "clippy"
toolchain = "stable"
command = "cargo"
args = [
  "clippy",
  "--target",
  "x86_64-unknown-linux-gnu",
  "--features",
  "host,abi_definitions,graphics_rendering_xrgb8888",
  "--all-targets",
  "--",
  "-D",
  "warnings",
]

[tasks.clippy-guest]
install_crate = "clippy"
toolchain = "stable"
command = "cargo"
args = [
  "clippy",
  "--package",
  "wasm",
  "--features",
  "default_guest",
  "--target",
  "wasm32-unknown-unknown",
  "--all-targets",
  "--",
  "-D",
  "warnings",
]

[tasks.clippy]
dependencies = ["clippy-host", "clippy-guest"]

[tasks.lint]
install_crate = "clippy"
toolchain = "stable"
command = "cargo"
args = ["clippy", "--all-targets", "--all-features", "--", "-D", "warnings"]

[tasks.test]
toolchain = "stable"
command = "cargo"
args = ["test", "--workspace"]

[tasks.run]
toolchain = "stable"
command = "cargo"
args = ["run", "${@}"]

[tasks.build]
toolchain = "stable"
command = "cargo"
args = ["build", "${@}"]

[tasks.coverage]
install_crate = "cargo-llvm-cov"
toolchain = "stable"
command = "cargo"
args = ["llvm-cov", "--workspace", "${@}"]

[tasks.before-commit]
dependencies = ["format", "check", "doc", "clippy"]
