[config]
default_to_workspace = false
init_task = "generate-fonts"

[tasks.install-tools]
command = "npm"
args = ["install"]

[tasks.generate-fonts]
command = "cargo"
args = ["run", "--package", "fonts_generator"]

[tasks.format-rust]
install_crate = "rustfmt"
command = "cargo"
args = ["fmt", "--all", "${@}"]

[tasks.format-toml]
install_crate = "taplo-cli"
command = "taplo"
args = ["format", "${@}"]

[tasks.format]
dependencies = ["format-rust", "format-toml"]

[tasks.check-host]
command = "cargo"
args = [
  "check",
  "--target",
  "x86_64-unknown-linux-gnu",
  "--features",
  "host,abi_definitions,virtual_machine,graphics_rendering_xrgb8888",
]

[tasks.check-wasm]
command = "cargo"
args = [
  "check",
  "--target",
  "wasm32-unknown-unknown",
  "--features",
  "wasm,wasm_c_bindings",
]

[tasks.doc-host]
command = "cargo"
args = [
  "doc",
  "--features",
  "host,abi_definitions,virtual_machine,graphics_rendering_xrgb8888",
  "--target",
  "x86_64-unknown-linux-gnu",
]

[tasks.doc-wasm]
command = "cargo"
args = ["doc", "--features", "wasm", "--target", "wasm32-unknown-unknown"]

[tasks.doc]
dependencies = ["doc-host", "doc-wasm"]

[tasks.check]
dependencies = ["check-host", "check-wasm"]

[tasks.clippy-wasm]
install_crate = "clippy"
command = "cargo"
args = [
  "clippy",
  "--target",
  "wasm32-unknown-unknown",
  "--features",
  "wasm,wasm_c_bindings",
  "--all-targets",
  "--",
  "-D",
  "warnings",
]

[tasks.clippy-host]
install_crate = "clippy"
command = "cargo"
args = [
  "clippy",
  "--target",
  "x86_64-unknown-linux-gnu",
  "--features",
  "host,abi_definitions,virtual_machine,graphics_rendering_xrgb8888",
  "--all-targets",
  "--",
  "-D",
  "warnings",
]

[tasks.clippy]
dependencies = ["clippy-host", "clippy-wasm"]

[tasks.lint]
install_crate = "clippy"
command = "cargo"
args = ["clippy", "--all-targets", "--all-features", "--", "-D", "warnings"]

[tasks.test]
command = "cargo"
args = ["test", "--workspace"]

[tasks.run]
command = "cargo"
args = ["run", "${@}"]

[tasks.build]
command = "cargo"
args = ["build", "${@}"]

[tasks.before-commit]
dependencies = ["format", "check", "doc", "clippy"]
