[package]
name = "host_bindings"
version = "0.1.0"
edition = "2024"
build = "build/main.rs"

[dependencies]
file_system = { workspace = true }
virtual_machine = { workspace = true }
shared = { workspace = true }
users = { workspace = true }
task = { workspace = true }
graphics = { workspace = true }
time = { workspace = true }
include_bytes_aligned = "0.1"

log = { workspace = true }
#wit-bindgen = "0.34.0"

[dev-dependencies]
drivers_native = { workspace = true }
drivers_core = { workspace = true }
drivers_shared = { workspace = true }
drivers_std = { workspace = true }
executable = { workspace = true, features = ["building"] }
little_fs = { workspace = true }
memory = { workspace = true }
virtual_file_system = { workspace = true }
abi_definitions = { workspace = true }
testing = { workspace = true }

[build-dependencies]
lvgl_rust_sys = { workspace = true }
target = { workspace = true }
cbindgen = { workspace = true }
bindings_utilities = { workspace = true }
syn = { workspace = true, features = ["full", "visit", "extra-traits"] }
quote = { workspace = true }
proc-macro2 = { workspace = true }

[[test]]
name = "graphics_bindings_tests"
path = "tests/graphics.rs"
