[target.xtensa-esp32s3-espidf]
linker = "ldproxy"
# runner = "espflash --monitor" # Select this runner for espflash v1.x.x
runner = "espflash flash --monitor" # Select this runner for espflash v2.x.x
rustflags = [
  "--cfg",
  "espidf_time64",
] # Extending time_t for ESP IDF 5: https://github.com/esp-rs/rust/issues/110

[target.xtensa-esp32-espidf]
linker = "ldproxy"
# runner = "espflash --monitor" # Select this runner for espflash v1.x.x
runner = "espflash flash --monitor" # Select this runner for espflash v2.x.x
rustflags = [
  "--cfg",
  "espidf_time64",
] # Extending time_t for ESP IDF 5: https://github.com/esp-rs/rust/issues/110

[env]

DEP_LV_CONFIG_PATH = { value = "modules/graphics/include", relative = true }
LVGL_FONTS_DIR = { value = "modules/graphics/fonts_generator/generated_fonts", relative = true }

WAMR_BUILD_PLATFORM = "XILA"

WAMR_SHARED_PLATFORM_CONFIG = { value = "modules/virtual_machine/wamr/shared_platform.cmake", relative = true }
LLVM_LIB_CFG_PATH = "/usr/lib/llvm-19/cmake/"
LITTLEFS_CONFIG = { value = "modules/little_fs/include/little_fs_config.h", relative = true }


[target.wasm32-unknown-unknown]
rustflags = ['--cfg', 'getrandom_backend="wasm_js"']

[build]
rustdocflags = ["--default-theme=ayu"]
