[package]
name = "wasm"
version = "0.1.0"
edition = "2024"
build = "build/main.rs"

[dependencies]
xila = { path = "../../", optional = true }
wamr-rust-sdk = { git = "https://github.com/bytecodealliance/wamr-rust-sdk.git", features = [
  "multi-module",
], optional = true }

[features]
default = []
graphics = []
host = ["dep:xila", "dep:wamr-rust-sdk"]
guest = []
wasm32 = []
wasm64 = []

[build-dependencies]
lvgl_rust_sys = { git = "https://github.com/Xila-Project/lvgl_rust_sys.git", default-features = false }
bindgen = { workspace = true }
quote = { workspace = true }
syn = { workspace = true, features = ["full", "visit", "extra-traits"] }
target = { workspace = true }
proc-macro2 = { workspace = true }
cbindgen = { workspace = true }

[target.'cfg(any(target_os = "linux", target_os = "macos", target_os = "windows"))'.dev-dependencies]
drivers_native = { workspace = true }
drivers_core = { workspace = true }
drivers_shared = { workspace = true }
drivers_std = { workspace = true }
abi_definitions = { workspace = true }
command_line_shell = { workspace = true }
executable = { workspace = true, features = ["building"] }
testing = { workspace = true }

[[test]]
name = "integration_test"
path = "tests/integration_test.rs"
features = ["host", "graphics", "wasm32"]
