name: Check
description: Run Rust checks including formatting, linting, documentation, examples build, and tests

on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  rust-checks:
    name: Rust checks
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout repository
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Setup | Install cargo-taplo
        run: |
          curl -fsSL https://github.com/tamasfe/taplo/releases/latest/download/taplo-linux-x86_64.gz \
          | gzip -d - | install -m 755 /dev/stdin /usr/local/bin/taplo

      - name: Check | Formatting (TOML)
        run: cargo make format-toml --check

      - name: Check | Formatting (Rust)
        run: cargo make format-rust -- --check

      - name: Check | Clippy (Host)
        run: cargo make clippy-host

      - name: Check | Clippy (WASM)
        run: cargo make clippy-wasm

      - name: Check | Documentation (Host)
        run: RUSTDOCFLAGS="--deny warnings" cargo make doc-host

      - name: Check | Documentation (WASM)
        run: RUSTDOCFLAGS="--deny warnings" cargo make doc-wasm

      - name: Build | Example (Native)
        run: cargo make build -p native_example

      - name: Build | Example (WASM)
        working-directory: ./examples/wasm
        run: trunk build

      - name: Run | Tests
        run: cargo make test
